//====================================================================================================
.footer {

	&__container {
	}

	&__body {
		border-top: 1px solid #d8d8d8;
		display: grid;
		grid-template-columns: 250px 1fr 290px;
		@include adaptiv-value("padding-top", 80, 30, 1);
		@include adaptiv-value("padding-bottom", 60, 30, 1);
		@include adaptiv-value("column-gap", 80, 0, 1);
		@media (max-width: $md1+px){
			grid-template-rows: auto auto;
			grid-template-columns: 1fr 290px;
		}
		@media (max-width: $md2+px){
			display: block;
		}
	}

	&__main {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width: $md1+px){
			grid-column: span 2;
			@include adaptiv-value("margin-bottom", 40, 30, 1)
		}
	}

	&__logo {
		margin: 0px 0px math.div(16px, 24px) * 1em 0px;
	}

	&__text {
		color: $grayColor;
		line-height: 1.5;
		&:not(:last-child){
			margin: 0 0 1em 0;
		}
	}

	&__contacts {
	}

	&__menu {
		@media (max-width: $md2+px){
			@include adaptiv-value("margin-bottom", 40, 30, 1)
		}
	}

	&__subscribe {
	}
}
.contacts-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

		&__item {
			display: inline-flex;
			align-items: center;
			color: $grayColor;
			line-height: 1.5;
			transition: color 0.3s ease 0s;
			&::before {
				margin: 0 8px 0 0;
			}
			&:not(:last-child){
				@include adaptiv-value("margin-bottom", 16, 10, 1);
			}
			@media (any-hover: hover){
				&:hover {
					color: $orangeColor;
				}
			}
		}
}
.menu-footer {
	@media (min-width: $md3+px) {
		display: flex;
	}
	&__column {
		@media (min-width: $md3+px) {
			flex: 0 1 33.333%;
		}
		@media (max-width: $md3+px) {
			@include adaptiv-value("margin-bottom", 30, 15, 1);
		}
	}

	&__title {
		cursor: default;
		@media (max-width: $md3+px) {
			margin: 0px 0px math.div(16px, 24px) * 1em 0px;
		}
		._init & {
			display: flex;
			width: 100%;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			@extend ._icon-arrow-down;
			&::before {
				@extend %ic;
				font-size: 14px;
				transition: transform 0.3s ease 0s;
			}
		}
		&._active {
			&::before {
				transform: rotate(-180deg);
			}
		}
	}

	&__list {
		li {
			&:not(:last-child){
				margin: 0 0 15px 0;
			}
		}
		@media (max-width: $md3+px) {
			padding: 15px 0 0 0;
		}
	}

	&__link {
		color: $grayColor;
		line-height: 1.2;
		font-weight: 500;
		@media (any-hover: hover){
			&:hover {
				color: $orangeColor;
			}
		}
	}
}
.subscribe {

		&__title {
			margin: 0px 0px math.div(16px, 24px) * 1em 0px;
		}

		&__form {
			display: flex;
			position: relative;
			.form__error {
				position: absolute;
				top: 100%;
				margin: 3px 0 0 0;
				left: 12px;
				color: red;
				font-size: 12px;
			}
		}

		&__input {
			width: 100%;
			padding: 0 12px;
			background-color: #f4f5f7;
			color: #828282;
		}

		&__btn {
			flex: 0 0 45px;
			height: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			background-color: $orangeColor;
			color: $whiteColor;
			margin: 0 0 0 4px;
			transition: background-color 0.3s ease 0s;
			@media (any-hover: hover){
				&:hover {
					background-color: #be825c;
				}
			}
		}
}

//====================================================================================================
