@use "sass:math";
//<MIXINS>===============================================================================================
@import "mixins";
//</MIXINS>===============================================================================================

//<FONTS>===============================================================================================

//<Add fonts>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Add fonts>=======================================================================================

//<Icons fonts>==========================================================================================
@import "icons";
//</Icons fonts>==========================================================================================

//<Fonts by default>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Fonts by default>==========================================================================================

//</FONTS>=======================================================================================================

//<VARIABLES>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;
$blackColor: #000;
$whiteColor: #fff;

//</VARIABLES>===========================================================================================================

//<GENERAL PARAMETERS>===============================================================================================
@import "null";
body {
  color: $mainColor;
  &._lock {
    overflow: hidden;
  }
}
//</GENERAL PARAMETERS>===============================================================================================

//<WRAPPER>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</WRAPPER>===========================================================================================================

//<MAIN CONTAINER>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}
//</MAIN CONTAINER>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<MAIN BLOCK>====================================================================================================
.page {
  flex: 1 1 auto;
  &__main-slider {
  }
  &__products {
		}
}
.main-slider {
  background: #fcf8f3;
  &__container {
  position: relative;
  @media (min-width: $md2+px) {
    &::before {
      content: "";
      background: #f9f1e7;
      position: absolute;
      top: 0;
      width: 100vw;
      right: 376px;
      height: 100%;
    }
  }
}

&__body {
  padding: 140px 0 0 0;
  position: relative;
  z-index: 2;
  @media (max-width: $md2+px) {
    padding: 80px 0 0 0;
  }
  @media (max-width: $md3+px) {
    padding: 50px 0 0 0;
  }
  @media (min-width: $md2+px) {
    display: flex;
  }
}

  &__content {
    flex: 0 0 math.div(494, 1240) * 100%;
    align-self: flex-start;
    @include adaptiv-value("margin-bottom", 80, 40, 1);
    @media (max-width: $md2+px) {
      margin:  0 -15px;
    }
  }

  &__slider {
    flex: 1 1 auto;
    min-width: 0;
    align-self: flex-end;
    @media (min-width:$md2+px) {
      padding: 0 0 0 32px;
    }
  }

  &_icon-arrow-down {
  }

  &_swiper {
  }

  &_ibg {
  }

  &_icon-arrow-link {
  }
  }
  .content-main {
    position: relative;
    z-index: 5;
    padding-left: 15px;
    padding-right: 15px;
    @include adaptiv-value("padding-top", 60, 15, 1);
    @include adaptiv-value("padding-bottom", 60, 15, 1);
    background: rgba(255, 255, 255, 0.75);
    @media (min-width: $md2+px) {
      @include adaptiv-value("padding", 60, 1, 1);
      background: rgba(255, 255, 255, 0.9);
      /* Если браузер поддерживает backdrop-filter */
      @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
        background: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(31px);
      }
    }

  &__title {
    @include adaptiv-value("font-size", 56, 24,1);
    font-weight: 700;
    line-height: 1.2;
    &:not(:last-child){
      margin: 0 0 math.div(16px, 56px) * 1em 0;
    }
  }

  &__text {
    @include adaptiv-value("font-size", 20, 16,1);
    color: $grayColor;
    font-weight: 500;
    line-height: 1.5;
    &:not(:last-child){
      margin: 0 0 math.div(48px, 20px) * 1em 0;
    }
  }

  &__button {
    @include adaptiv-value("min-height", 78, 45,1);
    @include adaptiv-value("font-size", 20, 16,1);
    font-weight: 600;
    background-color: $orangeColor;
    color: $whiteColor;
    width: 100%;
    @media (any-hover: hover) {
      &:hover {
        background-color: #966749;
      }
    }
  }
}
.slider-main {
  @media (max-width: $md2+px) {
    display: flex;
    flex-direction: column-reverse;
  }

  &__controls {
    margin: 0 20px 0 0;
    align-items: stretch;
  }

  &__body {
    overflow: visible;
    @media (min-width: $md2+px) {
      @include adaptiv-value("max-width", 934, 290, 1)
    }
    @media (max-width: $md2+px) {
      margin:  0 -15px;
    }
  }

  &__slide {
    position: relative;
  }

  &__image {
    padding: 0 0 80% 0;
  }

  &__content {
    min-width: 295px;
    max-height: 300px;
    overflow: auto;
    color: inherit;
    display: flex;
    flex-direction: column;
    @include adaptiv-value("padding", 24, 15, 1);
    @media (min-width: $md3+px){
      position: absolute;
      min-width: 350px;
      @include adaptiv-value("bottom", 40, 0, 1);
      @include adaptiv-value("right", 40, 0, 1);
    }
    background: rgba(255, 255, 255, 0.9);
    /* Если браузер поддерживает backdrop-filter */
    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }

  &__title {
    @include adaptiv-value("font-size", 28, 22, 1);
    font-weight: 500;
    line-height: 1.2;
    &:not(:last-child) {
      margin: 0 0 math.div(4px, 28px) * 1em 0;
    }
  }

  &__text {
    line-height: 1.5;
    color: $grayColor;
    &:not(:last-child) {
      margin: 0 0 math.div(8px, 16px) * 1em 0;
    }
  }

  &__price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    line-height: 1.5;
    align-items: center;
    font-weight: 600;
    @include adaptiv-value("font-size", 20, 16, 1);
    &::before {
      margin: 0 0 0 10px;
      font-size: 12px;
    }
  }
}
.controls-slider-main {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
  @media (max-width: $md2+px) {
      margin: 5px 0 5px 0;
    }

  &__dotts {
    flex: 1 1 auto;
     @media (max-width: $md2+px) {
      justify-content: center;
     }
  }

  &__arrows {
    @media (max-width: $md2+px) {
      display: none;
     }
  }
}
//===================================================================================================================================

//</MAIN BLOCK>====================================================================================================
//===================================================================================================================================

//<Advantures>====================================================================================================

.page {

		&__advantages {
		}
    &__rooms {
		}

    &__tips {
		}
}
.advantages {
  @include adaptiv-value("padding-top", 88, 30,1);
  @include adaptiv-value("padding-bottom", 88, 30,1);

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: inline-grid;
    padding: 15px 0;
    grid-template: auto auto / 85px 1fr;
    @media (max-width: $md2+px) {
      min-width: 280px;
    }
    @media (max-width: $md3+px) {
      grid-template: auto auto / auto 1fr;
    }
  }

  &__icon {
    text-align: center;
    align-self: center;
    grid-row: span 2;
    @media (max-width: $md3+px) {
      padding: 0 15px 0 0;
    }
  }

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 1.5;
		margin: 0px 0px math.div(2px, 18px) * 1em 0px;
	}

	&__text {
		line-height: 1.5;
		color: $grayColor;
	}
}

//===================================================================================================================================

//</Advantures>====================================================================================================

//<PRODUCTS>====================================================================================================

.products {
  @include adaptiv-value("padding-bottom", 44, 30, 1);

		&__container {
		}

		&__title {
      margin: 0 0 math.div(32px, 40px) * 1em;
		}

		&__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
      gap: 32px;
		}

		&__item {
		}

    &__footer {
      padding: 32px 0 0 0;
      text-align: center;
    }

    &__more {
      border: 1px solid $orangeColor;
      min-width: 245px;
    }

		&_ibg {
		}

		&_icon-share {
		}

		&_icon-favorite {
		}
}
.item-product {
  background: #f4f5f7;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  @media (any-hover: hover) {
    &:hover {
      .item-product__actions {
        opacity: 1;
        visibility: visible;
      }
    }
  }

		&__lables {
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction: column;
      @include adaptiv-value("right", 24, 10, 1);
      @include adaptiv-value("top", 24, 10, 1);
		}

		&__lable {
      flex: 0 0 48px;
      width: 48px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $whiteColor;
      font-weight: 500;
      &:not(:last-child ){
        margin: 0 0 10px 0;
      }

			&_sale {
        background: #e97171;
			}
      &_new {
        background: #2ec1ac;
      }
		}

		&__image {
      padding: 0 0 math.div(301px, 285px) * 100% 0;
		}

		&__body {
      flex: 1 1 auto;
      padding: 16px 16px 30px 16px;
      display: flex;
      flex-direction: column;
		}

		&__content {
      flex: 1 1 auto;
		}

		&__title {
      @include adaptiv-value("font-size", 24, 20, 1);
      line-height: 1.2;
      margin: 0 0 math.div(8px, 24px) * 1em 0;
		}

		&__text {
      color: $grayColor;
      line-height: 1.5;
      margin: 0 0 math.div(8px, 24px) * 1em 0;
		}

		&__prices {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      line-height: 1.5;
		}

		&__price {
      @include adaptiv-value("font-size", 20, 16, 1);
      font-weight: 600;

			&_old {
        @include adaptiv-value("font-size", 16, 14, 1);
        font-weight: normal;
        color: #b0b0b0;
        margin: 0 0 0 16px;
        text-decoration: line-through;
			}
		}

		&__actions {
      @media (any-hover: none) {
        padding: 15px 0 0 0;
      }
      @media (any-hover: hover) {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(58, 58, 58, 0.74);
          z-index: 3;
          transition: all 0.3s ease 0s;
      }
		}
}
.actions-product {

		&__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
		}

		&__button {
      flex: 1 1 100%;
      &:not(:last-child) {
        margin: 0 0 24px 0;
      }
      &._hold {
        opacity: 0.4;
        cursor: default;
      }
		}

		&__link {
      display: flex;
      align-items: center;
      color: inherit;
      font-weight: 600;
      transition: color 1s ease 0s;
      &::before {
        margin: 0 10px 0 0;
        font-size: 16px;
      }
      @media (any-hover: hover) {
        color: $whiteColor;
        &:hover {
          color: $orangeColor;
        }
      }
		}
}

//</PRODUCTS>====================================================================================================

//<ROOMS>====================================================================================================

.rooms {
  background: #fcf8f3;
  @include adaptiv-value("padding-top", 44, 30, 1);
  @include adaptiv-value("padding-bottom", 44, 30, 1);
		&__container {
      @media(min-width: $md2+px) {
        display: flex;
      }
		}

		&__body {
      flex: 0 0 math.div(465px, 1240px) * 100%;
      position: relative;
      z-index: 5;
      align-self: center;
      @media(min-width: $md2+px) {
        @include adaptiv-value("padding-right", 80, 30, 1);
      }
      @media (max-width: $md2+px) {
        margin: 0 0 20px 0;
      }
		}

		&__title {
      &:not(:last-child){
        margin: 0 0 math.div(8px, 40px) *1em 0;
      }
      text-align: left;
		}

		&__text {
      line-height: 1.5;
      font-weight: 500;
      &:not(:last-child){
        margin: 0 0 24px 0;
      }
		}

		&__button {
      background: $orangeColor;
      color: $whiteColor;
      min-width: 180px;
      @media(any-hover: hover){
        &:hover {
          background: #8d6146;
        }
      }
		}

		&__slider {
      flex: 1 1 auto;
      min-width: 0;
      align-self: flex-start;
      @media(max-width: $md4+px) {
        margin: 0 -15px;
      }
		}
}
.slider-rooms {
  position: relative;

		&__body {
      overflow: visible;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100vw;
        left: 0;
        background: #fcf8f3;
        z-index: 2;
        transform: translate(-100%, 0px);
      }
		}

		&__slide {
      width: 372px;
      position: relative;
      overflow: hidden;
      @include adaptiv-value("min-height", 585, 400, 1);
      &.swiper-slide-active {
        .slider-rooms__image {
          height: 100%;
        }
      }
      @media(max-width: $md4+px) {
        width: 100%;
      }
		}

		&__image {
      transition: height 0.8s ease 0s;
      height: 100%;
      @media(min-width: $md2+px) {
        height: 83%;
      }
		}

		&__content {
      position: absolute;
      color: inherit;
      max-width: 240px;
      @include adaptiv-value("left", 24, 15, 1);
      @include adaptiv-value("bottom", 24, 15, 1);
      @include adaptiv-value("padding", 32, 15, 1);
      background: rgba(255, 255, 255, 0.9);
      /* If browser doesn't support backdrop-filter */
      @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
        background: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(31px);
		  }
      &::before {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(100%, 0px);
        width: 48px;
        height: 48px;
        background: $orangeColor;
        color: $whiteColor;
        display: flex;
        justify-content: center;
        align-items: center;
      }
		}

		&__label {
		}

		&__title {
      font-weight: 500;
      @include adaptiv-value("font-size", 24, 16,1);
		}

		&__arrows {
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(0px, -50%);
      width: calc(100% - 48px);
      left: 24px;
      z-index: 5;
      justify-content: space-between;
      @media(min-width: $md1+px) {
        width: calc(100% + 48px);
        left: -24px;
      }
		}

		&__dotts {
      @media(min-width: $md3+px) {
        position: absolute;
        bottom: 30px;
        width: 100%;
        left: 396px;
      }
      @media(max-width: $md3+px) {
        justify-content: center;
        padding: 15px 0 0 0;
      }
		}
}
.label-slider {
    display: grid;
    color: $darkGrayColor;
    gap: 8px;
    align-items: center;
    justify-content: start;
    grid-template-columns: auto 27px auto;
    &:not(:last-child) {
      margin: 0 0 8px 0;
    }

		&__number {
		}

		&__line {
      height: 1px;
      background-color: $darkGrayColor;
		}

		&__text {
		}
}


//</ROOMS>====================================================================================================

//<TIPS>====================================================================================================
.tips {
  @include adaptiv-value("padding-top", 44, 30, 1);
  @include adaptiv-value("padding-bottom", 44, 30, 1);

		&__container {
		}

		&__title {
		}

		&__slider {
		}

		&_swiper {
		}

		&_icon-arrow-down {
		}
}
.slider-tips {
  position: relative;

		&__body {
      @include adaptiv-value("margin-left", -32, -15, 1);
      @include adaptiv-value("margin-right", -32, -15, 1);
      @include adaptiv-value("padding", 32, 15, 1);
		}

		&__slide {
      display: flex;
      flex-direction: column;
      transition: box-shadow 0.3s ease 0s;
      @media(any-hover:hover) {
        &:hover {
          box-shadow: 0 0 32px rgba(97, 97, 97, 0.2);
        }
      }
		}

		&__image {
      padding: 0 0 math.div(251, 391) *100% 0;
		}

		&__content {
      display: flex;
      flex-direction: column;
      padding: 15px;
      flex: 1 1 auto;
      align-items: flex-start;
		}

		&__title {
      flex: 1 1 auto;
      color: inherit;
      font-weight: 600;
      line-height: 1.2;
      @include adaptiv-value("font-size", 24, 18, 1);
      transition: color 0.3s ease 0s;
      &:not(:last-child) {
        margin: 0 0 8px 0;
      }
      @media(any-hover:hover) {
        &:hover {
          color: $orangeColor;
        }
      }
		}

		&__text {
      color: $grayColor;
      font-size: 14px;
      line-height: 1.5;
		}

		&__dotts {
      @include adaptiv-value("padding-top", 8, 0, 1);
      justify-content: center;
		}

		&__arrows {
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(0px, -50%);
      width: calc(100% - 48px);
      left: 24px;
      z-index: 5;
      justify-content: space-between;
      @media(min-width: $md1+px) {
        width: calc(100% + 48px);
        left: -24px;
      }
      @media(max-width: $md3+px) {
        display: none;
      }
		}
}

//</TIPS>====================================================================================================

//<FURNITURE>====================================================================================================
.furniture {
	@include adaptiv-value("padding-bottom", 85, 40, 1);
	// .furniture__container
	&__container {
	}
	// .furniture__label
	&__label {
		text-align: center;
		color: $darkGrayColor;
		line-height: 150%;
		@include adaptiv-value("font-size", 20, 16, 1);
		&:not(:last-child) {
			margin: 0px 0px math.div(8px, 20px) * 1em 0px;
		}
	}
	// .furniture__title
	&__title {
		margin: 0px 0px math.div(32px, 40px) * 1em 0px;
	}
	// .furniture__body
	&__body {
		position: relative;
		@media (any-hover: none) {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
	}
	// .furniture__items
	&__items {
		display: grid;
		grid-template-columns: auto;
		grid-auto-flow: column;
		align-items: center;
		gap: 16px;
		@media (any-hover: hover) {
			justify-content: center;
		}
	}
	// .furniture__column
	&__column {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0px -8px;
		&:first-child {
			justify-content: flex-end;
		}
	}
	// .furniture__row
	&__row {
		display: inline-grid;
		padding: 0px 8px;
		gap: 16px;
		grid-template-columns: auto;
		grid-auto-flow: column;
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
}
.row-furniture {
	// .row-furniture_left-top
	&_left-top {
		justify-content: end;
		align-items: end;
	}
	// .row-furniture_left-bottom
	&_left-bottom {
		justify-content: end;
		align-items: start;
	}
	// .row-furniture_center
	&_center {
		display: block;
	}
	// .row-furniture_right-top
	&_right-top {
		align-items: end;
	}
	// .row-furniture_right-bottom
	&_right-bottom {
		align-items: start;
	}
	// .row-furniture__item
	&__item {
		@media (any-hover: hover) {
			img {
				transition: all 0.8s ease 0s;
				filter: grayscale(1);
			}
			&:hover {
				img {
					filter: grayscale(0);
				}
			}
		}
	}
}

//</FURNITURE>====================================================================================================