@use "sass:math";
//<MIXINS>===============================================================================================
@import "mixins";
//</MIXINS>===============================================================================================

//<FONTS>===============================================================================================

//<Add fonts>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Add fonts>=======================================================================================

//<Icons fonts>==========================================================================================
@import "icons";
//</Icons fonts>==========================================================================================

//<Fonts by default>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Fonts by default>==========================================================================================

//</FONTS>=======================================================================================================

//<VARIABLES>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;
$blackColor: #000;
$whiteColor: #fff;

//</VARIABLES>===========================================================================================================

//<GENERAL PARAMETERS>===============================================================================================
@import "null";
body {
  color: $mainColor;
  &._lock {
    overflow: hidden;
  }
}
//</GENERAL PARAMETERS>===============================================================================================

//<WRAPPER>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</WRAPPER>===========================================================================================================

//<MAIN CONTAINER>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}
//</MAIN CONTAINER>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<MAIN BLOCK>====================================================================================================
.page {
  flex: 1 1 auto;
  &__main-slider {

  }
}
.main-slider {
  background: #fcf8f3;
  &__container {
  position: relative;
  @media (min-width: $md2+px) {
    &::before {
      content: "";
      background: #f9f1e7;
      position: absolute;
      top: 0;
      width: 100vw;
      right: 376px;
      height: 100%;
    }
  }
}

&__body {
  padding: 140px 0 0 0;
  position: relative;
  z-index: 2;
  @media (max-width: $md2+px) {
    padding: 80px 0 0 0;
  }
  @media (max-width: $md3+px) {
    padding: 50px 0 0 0;
  }
  @media (min-width: $md2+px) {
    display: flex;
  }
}

  &__content {
    flex: 0 0 math.div(494, 1240) * 100%;
    align-self: flex-start;
    @include adaptiv-value("margin-bottom", 80, 40, 1);
    @media (max-width: $md2+px) {
      margin:  0 -15px;
    }
  }

  &__slider {
    flex: 1 1 auto;
    min-width: 0;
    align-self: flex-end;
    @media (min-width:$md2+px) {
      padding: 0 0 0 32px;
    }
  }

  &_icon-arrow-down {
  }

  &_swiper {
  }

  &_ibg {
  }

  &_icon-arrow-link {
  }
  }
  .content-main {
    position: relative;
    z-index: 5;
    padding-left: 15px;
    padding-right: 15px;
    @include adaptiv-value("padding-top", 60, 15, 1);
    @include adaptiv-value("padding-bottom", 60, 15, 1);
    background: rgba(255, 255, 255, 0.75);
    @media (min-width: $md2+px) {
      @include adaptiv-value("padding", 60, 1, 1);
      background: rgba(255, 255, 255, 0.9);
      /* Если браузер поддерживает backdrop-filter */
      @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
        background: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(31px);
      }
    }

  &__title {
    @include adaptiv-value("font-size", 56, 24,1);
    font-weight: 700;
    line-height: 1.2;
    &:not(:last-child){
      margin: 0 0 math.div(16px, 56px) * 1em 0;
    }
  }

  &__text {
    @include adaptiv-value("font-size", 20, 16,1);
    color: $grayColor;
    font-weight: 500;
    line-height: 1.5;
    &:not(:last-child){
      margin: 0 0 math.div(48px, 20px) * 1em 0;
    }
  }

  &__button {
    @include adaptiv-value("min-height", 78, 45,1);
    @include adaptiv-value("font-size", 20, 16,1);
    font-weight: 600;
    background-color: $orangeColor;
    color: $whiteColor;
    width: 100%;
    @media (any-hover: hover) {
      &:hover {
        background-color: #966749;
      }
    }
  }
}
.slider-main {
  @media (max-width: $md2+px) {
    display: flex;
    flex-direction: column-reverse;
  }

  &__controls {
    margin: 0 20px 0 0;
    align-items: stretch;
  }

  &__body {
    overflow: visible;
    @media (min-width: $md2+px) {
      @include adaptiv-value("max-width", 934, 290, 1)
    }
    @media (max-width: $md2+px) {
      margin:  0 -15px;
    }
  }

  &__slide {
    position: relative;
  }

  &__image {
    padding: 0 0 80% 0;
  }

  &__content {
    min-width: 295px;
    max-height: 300px;
    overflow: auto;
    color: inherit;
    display: flex;
    flex-direction: column;
    @include adaptiv-value("padding", 24, 15, 1);
    @media (min-width: $md3+px){
      position: absolute;
      min-width: 350px;
      @include adaptiv-value("bottom", 40, 0, 1);
      @include adaptiv-value("right", 40, 0, 1);
    }
    background: rgba(255, 255, 255, 0.9);
    /* Если браузер поддерживает backdrop-filter */
    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }

  &__title {
    @include adaptiv-value("font-size", 28, 22, 1);
    font-weight: 500;
    line-height: 1.2;
    &:not(:last-child) {
      margin: 0 0 math.div(4px, 28px) * 1em 0;
    }
  }

  &__text {
    line-height: 1.5;
    color: $grayColor;
    &:not(:last-child) {
      margin: 0 0 math.div(8px, 16px) * 1em 0;
    }
  }

  &__price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    line-height: 1.5;
    align-items: center;
    font-weight: 600;
    @include adaptiv-value("font-size", 20, 16, 1);
    &::before {
      margin: 0 0 0 10px;
      font-size: 12px;
    }
  }
}
.controls-slider-main {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
  @media (max-width: $md2+px) {
      margin: 5px 0 5px 0;
    }

  &__dotts {
    flex: 1 1 auto;
     @media (max-width: $md2+px) {
      justify-content: center;
     }
  }

  &__arrows {
    @media (max-width: $md2+px) {
      display: none;
     }
  }
}
//===================================================================================================================================

//</MAIN BLOCK>====================================================================================================
//===================================================================================================================================

//<Advantures>====================================================================================================

.page {

		&__advantages {
		}
}
.advantages {
  @include adaptiv-value("padding-top", 88, 30,1);
  @include adaptiv-value("padding-bottom", 88, 30,1);

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: inline-grid;
    padding: 15px 0;
    grid-template: auto auto / 85px 1fr;
    @media (max-width: $md2+px) {
      min-width: 280px;
    }
    @media (max-width: $md3+px) {
      grid-template: auto auto / auto 1fr;
    }
  }

  &__icon {
    text-align: center;
    align-self: center;
    grid-row: span 2;
    @media (max-width: $md3+px) {
      padding: 0 15px 0 0;
    }
  }

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 1.5;
		margin: 0px 0px math.div(2px, 18px) * 1em 0px;
	}

	&__text {
		line-height: 1.5;
		color: $grayColor;
	}
}

//===================================================================================================================================

//</Advantures>====================================================================================================